<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en` }}" class="scroll-smooth dark">
  <head>
    {{- partial "head/index" . -}}
  </head>

  <body class="max-w-screen-md mx-auto px-2.5">
    <div class="header">
      {{ partial "header/index" . }}
      {{ partial "header/theme-button" . }}
    </div>

    <main id="content">
      {{- block "main" . -}}
      {{- end }}
    </main>

    {{ if .Store.Get "hasMermaid" }}
      <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({
          startOnLoad: true,
        });
      </script>
    {{ end }}


    {{- partial "footer/index" . -}}
  </body>
</html>
